.mr-3 {
	margin: -3em !important;
}

.mr-top-3 {
	margin-top: -3em !important;
}

.mr-bottom-3 {
	margin-bottom: -3em !important;
}

.mr-left-3 {
	margin-left: -3em !important;
}

.mr-right-3 {
	margin-right: -3em !important;
}

.mr-2p75 {
	margin: -2.75em !important;
}

.mr-top-2p75 {
	margin-top: -2.75em !important;
}

.mr-bottom-2p75 {
	margin-bottom: -2.75em !important;
}

.mr-left-2p75 {
	margin-left: -2.75em !important;
}

.mr-right-2p75 {
	margin-right: -2.75em !important;
}

.mr-2p5 {
	margin: -2.5em !important;
}

.mr-top-2p5 {
	margin-top: -2.5em !important;
}

.mr-bottom-2p5 {
	margin-bottom: -2.5em !important;
}

.mr-left-2p5 {
	margin-left: -2.5em !important;
}

.mr-right-2p5 {
	margin-right: -2.5em !important;
}

.mr-2p25 {
	margin: -2.25em !important;
}

.mr-top-2p25 {
	margin-top: -2.25em !important;
}

.mr-bottom-2p25 {
	margin-bottom: -2.25em !important;
}

.mr-left-2p25 {
	margin-left: -2.25em !important;
}

.mr-right-2p25 {
	margin-right: -2.25em !important;
}

.mr-2 {
	margin: -2em !important;
}

.mr-top-2 {
	margin-top: -2em !important;
}

.mr-bottom-2 {
	margin-bottom: -2em !important;
}

.mr-left-2 {
	margin-left: -2em !important;
}

.mr-right-2 {
	margin-right: -2em !important;
}

.mr-1p75 {
	margin: -1.75em !important;
}

.mr-top-1p75 {
	margin-top: -1.75em !important;
}

.mr-bottom-1p75 {
	margin-bottom: -1.75em !important;
}

.mr-left-1p75 {
	margin-left: -1.75em !important;
}

.mr-right-1p75 {
	margin-right: -1.75em !important;
}

.mr-1p5 {
	margin: -1.5em !important;
}

.mr-top-1p5 {
	margin-top: -1.5em !important;
}

.mr-bottom-1p5 {
	margin-bottom: -1.5em !important;
}

.mr-left-1p5 {
	margin-left: -1.5em !important;
}

.mr-right-1p5 {
	margin-right: -1.5em !important;
}

.mr-1p25 {
	margin: -1.25em !important;
}

.mr-top-1p25 {
	margin-top: -1.25em !important;
}

.mr-bottom-1p25 {
	margin-bottom: -1.25em !important;
}

.mr-left-1p25 {
	margin-left: -1.25em !important;
}

.mr-right-1p25 {
	margin-right: -1.25em !important;
}

.mr-1 {
	margin: -1em !important;
}

.mr-top-1 {
	margin-top: -1em !important;
}

.mr-bottom-1 {
	margin-bottom: -1em !important;
}

.mr-left-1 {
	margin-left: -1em !important;
}

.mr-right-1 {
	margin-right: -1em !important;
}

.mr-0p75 {
	margin: -0.75em !important;
}

.mr-top-0p75 {
	margin-top: -0.75em !important;
}

.mr-bottom-0p75 {
	margin-bottom: -0.75em !important;
}

.mr-left-0p75 {
	margin-left: -0.75em !important;
}

.mr-right-0p75 {
	margin-right: -0.75em !important;
}

.mr-0p5 {
	margin: -0.5em !important;
}

.mr-top-0p5 {
	margin-top: -0.5em !important;
}

.mr-bottom-0p5 {
	margin-bottom: -0.5em !important;
}

.mr-left-0p5 {
	margin-left: -0.5em !important;
}

.mr-right-0p5 {
	margin-right: -0.5em !important;
}

.mr-0p25 {
	margin: -0.25em !important;
}

.mr-top-0p25 {
	margin-top: -0.25em !important;
}

.mr-bottom-0p25 {
	margin-bottom: -0.25em !important;
}

.mr-left-0p25 {
	margin-left: -0.25em !important;
}

.mr-right-0p25 {
	margin-right: -0.25em !important;
}

.mr0 {
	margin: 0em !important;
}

.mr-top0 {
	margin-top: 0em !important;
}

.mr-bottom0 {
	margin-bottom: 0em !important;
}

.mr-left0 {
	margin-left: 0em !important;
}

.mr-right0 {
	margin-right: 0em !important;
}

.mr0p25 {
	margin: 0.25em !important;
}

.mr-top0p25 {
	margin-top: 0.25em !important;
}

.mr-bottom0p25 {
	margin-bottom: 0.25em !important;
}

.mr-left0p25 {
	margin-left: 0.25em !important;
}

.mr-right0p25 {
	margin-right: 0.25em !important;
}

.mr0p5 {
	margin: 0.5em !important;
}

.mr-top0p5 {
	margin-top: 0.5em !important;
}

.mr-bottom0p5 {
	margin-bottom: 0.5em !important;
}

.mr-left0p5 {
	margin-left: 0.5em !important;
}

.mr-right0p5 {
	margin-right: 0.5em !important;
}

.mr0p75 {
	margin: 0.75em !important;
}

.mr-top0p75 {
	margin-top: 0.75em !important;
}

.mr-bottom0p75 {
	margin-bottom: 0.75em !important;
}

.mr-left0p75 {
	margin-left: 0.75em !important;
}

.mr-right0p75 {
	margin-right: 0.75em !important;
}

.mr1 {
	margin: 1em !important;
}

.mr-top1 {
	margin-top: 1em !important;
}

.mr-bottom1 {
	margin-bottom: 1em !important;
}

.mr-left1 {
	margin-left: 1em !important;
}

.mr-right1 {
	margin-right: 1em !important;
}

.mr1p25 {
	margin: 1.25em !important;
}

.mr-top1p25 {
	margin-top: 1.25em !important;
}

.mr-bottom1p25 {
	margin-bottom: 1.25em !important;
}

.mr-left1p25 {
	margin-left: 1.25em !important;
}

.mr-right1p25 {
	margin-right: 1.25em !important;
}

.mr1p5 {
	margin: 1.5em !important;
}

.mr-top1p5 {
	margin-top: 1.5em !important;
}

.mr-bottom1p5 {
	margin-bottom: 1.5em !important;
}

.mr-left1p5 {
	margin-left: 1.5em !important;
}

.mr-right1p5 {
	margin-right: 1.5em !important;
}

.mr1p75 {
	margin: 1.75em !important;
}

.mr-top1p75 {
	margin-top: 1.75em !important;
}

.mr-bottom1p75 {
	margin-bottom: 1.75em !important;
}

.mr-left1p75 {
	margin-left: 1.75em !important;
}

.mr-right1p75 {
	margin-right: 1.75em !important;
}

.mr2 {
	margin: 2em !important;
}

.mr-top2 {
	margin-top: 2em !important;
}

.mr-bottom2 {
	margin-bottom: 2em !important;
}

.mr-left2 {
	margin-left: 2em !important;
}

.mr-right2 {
	margin-right: 2em !important;
}

.mr2p25 {
	margin: 2.25em !important;
}

.mr-top2p25 {
	margin-top: 2.25em !important;
}

.mr-bottom2p25 {
	margin-bottom: 2.25em !important;
}

.mr-left2p25 {
	margin-left: 2.25em !important;
}

.mr-right2p25 {
	margin-right: 2.25em !important;
}

.mr2p5 {
	margin: 2.5em !important;
}

.mr-top2p5 {
	margin-top: 2.5em !important;
}

.mr-bottom2p5 {
	margin-bottom: 2.5em !important;
}

.mr-left2p5 {
	margin-left: 2.5em !important;
}

.mr-right2p5 {
	margin-right: 2.5em !important;
}

.mr2p75 {
	margin: 2.75em !important;
}

.mr-top2p75 {
	margin-top: 2.75em !important;
}

.mr-bottom2p75 {
	margin-bottom: 2.75em !important;
}

.mr-left2p75 {
	margin-left: 2.75em !important;
}

.mr-right2p75 {
	margin-right: 2.75em !important;
}

.mr3 {
	margin: 3em !important;
}

.mr-top3 {
	margin-top: 3em !important;
}

.mr-bottom3 {
	margin-bottom: 3em !important;
}

.mr-left3 {
	margin-left: 3em !important;
}

.mr-right3 {
	margin-right: 3em !important;
}

.mr3p25 {
	margin: 3.25em !important;
}

.mr-top3p25 {
	margin-top: 3.25em !important;
}

.mr-bottom3p25 {
	margin-bottom: 3.25em !important;
}

.mr-left3p25 {
	margin-left: 3.25em !important;
}

.mr-right3p25 {
	margin-right: 3.25em !important;
}

.mr3p5 {
	margin: 3.5em !important;
}

.mr-top3p5 {
	margin-top: 3.5em !important;
}

.mr-bottom3p5 {
	margin-bottom: 3.5em !important;
}

.mr-left3p5 {
	margin-left: 3.5em !important;
}

.mr-right3p5 {
	margin-right: 3.5em !important;
}

.mr3p75 {
	margin: 3.75em !important;
}

.mr-top3p75 {
	margin-top: 3.75em !important;
}

.mr-bottom3p75 {
	margin-bottom: 3.75em !important;
}

.mr-left3p75 {
	margin-left: 3.75em !important;
}

.mr-right3p75 {
	margin-right: 3.75em !important;
}

.mr4 {
	margin: 4em !important;
}

.mr-top4 {
	margin-top: 4em !important;
}

.mr-bottom4 {
	margin-bottom: 4em !important;
}

.mr-left4 {
	margin-left: 4em !important;
}

.mr-right4 {
	margin-right: 4em !important;
}

.mr4p25 {
	margin: 4.25em !important;
}

.mr-top4p25 {
	margin-top: 4.25em !important;
}

.mr-bottom4p25 {
	margin-bottom: 4.25em !important;
}

.mr-left4p25 {
	margin-left: 4.25em !important;
}

.mr-right4p25 {
	margin-right: 4.25em !important;
}

.mr4p5 {
	margin: 4.5em !important;
}

.mr-top4p5 {
	margin-top: 4.5em !important;
}

.mr-bottom4p5 {
	margin-bottom: 4.5em !important;
}

.mr-left4p5 {
	margin-left: 4.5em !important;
}

.mr-right4p5 {
	margin-right: 4.5em !important;
}

.mr4p75 {
	margin: 4.75em !important;
}

.mr-top4p75 {
	margin-top: 4.75em !important;
}

.mr-bottom4p75 {
	margin-bottom: 4.75em !important;
}

.mr-left4p75 {
	margin-left: 4.75em !important;
}

.mr-right4p75 {
	margin-right: 4.75em !important;
}

.mr5 {
	margin: 5em !important;
}

.mr-top5 {
	margin-top: 5em !important;
}

.mr-bottom5 {
	margin-bottom: 5em !important;
}

.mr-left5 {
	margin-left: 5em !important;
}

.mr-right5 {
	margin-right: 5em !important;
}




.pd-3 {
	padding: -3em !important;
}

.pd-top-3 {
	padding-top: -3em !important;
}

.pd-bottom-3 {
	padding-bottom: -3em !important;
}

.pd-left-3 {
	padding-left: -3em !important;
}

.pd-right-3 {
	padding-right: -3em !important;
}

.pd-2p75 {
	padding: -2.75em !important;
}

.pd-top-2p75 {
	padding-top: -2.75em !important;
}

.pd-bottom-2p75 {
	padding-bottom: -2.75em !important;
}

.pd-left-2p75 {
	padding-left: -2.75em !important;
}

.pd-right-2p75 {
	padding-right: -2.75em !important;
}

.pd-2p5 {
	padding: -2.5em !important;
}

.pd-top-2p5 {
	padding-top: -2.5em !important;
}

.pd-bottom-2p5 {
	padding-bottom: -2.5em !important;
}

.pd-left-2p5 {
	padding-left: -2.5em !important;
}

.pd-right-2p5 {
	padding-right: -2.5em !important;
}

.pd-2p25 {
	padding: -2.25em !important;
}

.pd-top-2p25 {
	padding-top: -2.25em !important;
}

.pd-bottom-2p25 {
	padding-bottom: -2.25em !important;
}

.pd-left-2p25 {
	padding-left: -2.25em !important;
}

.pd-right-2p25 {
	padding-right: -2.25em !important;
}

.pd-2 {
	padding: -2em !important;
}

.pd-top-2 {
	padding-top: -2em !important;
}

.pd-bottom-2 {
	padding-bottom: -2em !important;
}

.pd-left-2 {
	padding-left: -2em !important;
}

.pd-right-2 {
	padding-right: -2em !important;
}

.pd-1p75 {
	padding: -1.75em !important;
}

.pd-top-1p75 {
	padding-top: -1.75em !important;
}

.pd-bottom-1p75 {
	padding-bottom: -1.75em !important;
}

.pd-left-1p75 {
	padding-left: -1.75em !important;
}

.pd-right-1p75 {
	padding-right: -1.75em !important;
}

.pd-1p5 {
	padding: -1.5em !important;
}

.pd-top-1p5 {
	padding-top: -1.5em !important;
}

.pd-bottom-1p5 {
	padding-bottom: -1.5em !important;
}

.pd-left-1p5 {
	padding-left: -1.5em !important;
}

.pd-right-1p5 {
	padding-right: -1.5em !important;
}

.pd-1p25 {
	padding: -1.25em !important;
}

.pd-top-1p25 {
	padding-top: -1.25em !important;
}

.pd-bottom-1p25 {
	padding-bottom: -1.25em !important;
}

.pd-left-1p25 {
	padding-left: -1.25em !important;
}

.pd-right-1p25 {
	padding-right: -1.25em !important;
}

.pd-1 {
	padding: -1em !important;
}

.pd-top-1 {
	padding-top: -1em !important;
}

.pd-bottom-1 {
	padding-bottom: -1em !important;
}

.pd-left-1 {
	padding-left: -1em !important;
}

.pd-right-1 {
	padding-right: -1em !important;
}

.pd-0p75 {
	padding: -0.75em !important;
}

.pd-top-0p75 {
	padding-top: -0.75em !important;
}

.pd-bottom-0p75 {
	padding-bottom: -0.75em !important;
}

.pd-left-0p75 {
	padding-left: -0.75em !important;
}

.pd-right-0p75 {
	padding-right: -0.75em !important;
}

.pd-0p5 {
	padding: -0.5em !important;
}

.pd-top-0p5 {
	padding-top: -0.5em !important;
}

.pd-bottom-0p5 {
	padding-bottom: -0.5em !important;
}

.pd-left-0p5 {
	padding-left: -0.5em !important;
}

.pd-right-0p5 {
	padding-right: -0.5em !important;
}

.pd-0p25 {
	padding: -0.25em !important;
}

.pd-top-0p25 {
	padding-top: -0.25em !important;
}

.pd-bottom-0p25 {
	padding-bottom: -0.25em !important;
}

.pd-left-0p25 {
	padding-left: -0.25em !important;
}

.pd-right-0p25 {
	padding-right: -0.25em !important;
}

.pd0 {
	padding: 0em !important;
}

.pd-top0 {
	padding-top: 0em !important;
}

.pd-bottom0 {
	padding-bottom: 0em !important;
}

.pd-left0 {
	padding-left: 0em !important;
}

.pd-right0 {
	padding-right: 0em !important;
}

.pd0p25 {
	padding: 0.25em !important;
}

.pd-top0p25 {
	padding-top: 0.25em !important;
}

.pd-bottom0p25 {
	padding-bottom: 0.25em !important;
}

.pd-left0p25 {
	padding-left: 0.25em !important;
}

.pd-right0p25 {
	padding-right: 0.25em !important;
}

.pd0p5 {
	padding: 0.5em !important;
}

.pd-top0p5 {
	padding-top: 0.5em !important;
}

.pd-bottom0p5 {
	padding-bottom: 0.5em !important;
}

.pd-left0p5 {
	padding-left: 0.5em !important;
}

.pd-right0p5 {
	padding-right: 0.5em !important;
}

.pd0p75 {
	padding: 0.75em !important;
}

.pd-top0p75 {
	padding-top: 0.75em !important;
}

.pd-bottom0p75 {
	padding-bottom: 0.75em !important;
}

.pd-left0p75 {
	padding-left: 0.75em !important;
}

.pd-right0p75 {
	padding-right: 0.75em !important;
}

.pd1 {
	padding: 1em !important;
}

.pd-top1 {
	padding-top: 1em !important;
}

.pd-bottom1 {
	padding-bottom: 1em !important;
}

.pd-left1 {
	padding-left: 1em !important;
}

.pd-right1 {
	padding-right: 1em !important;
}

.pd1p25 {
	padding: 1.25em !important;
}

.pd-top1p25 {
	padding-top: 1.25em !important;
}

.pd-bottom1p25 {
	padding-bottom: 1.25em !important;
}

.pd-left1p25 {
	padding-left: 1.25em !important;
}

.pd-right1p25 {
	padding-right: 1.25em !important;
}

.pd1p5 {
	padding: 1.5em !important;
}

.pd-top1p5 {
	padding-top: 1.5em !important;
}

.pd-bottom1p5 {
	padding-bottom: 1.5em !important;
}

.pd-left1p5 {
	padding-left: 1.5em !important;
}

.pd-right1p5 {
	padding-right: 1.5em !important;
}

.pd1p75 {
	padding: 1.75em !important;
}

.pd-top1p75 {
	padding-top: 1.75em !important;
}

.pd-bottom1p75 {
	padding-bottom: 1.75em !important;
}

.pd-left1p75 {
	padding-left: 1.75em !important;
}

.pd-right1p75 {
	padding-right: 1.75em !important;
}

.pd2 {
	padding: 2em !important;
}

.pd-top2 {
	padding-top: 2em !important;
}

.pd-bottom2 {
	padding-bottom: 2em !important;
}

.pd-left2 {
	padding-left: 2em !important;
}

.pd-right2 {
	padding-right: 2em !important;
}

.pd2p25 {
	padding: 2.25em !important;
}

.pd-top2p25 {
	padding-top: 2.25em !important;
}

.pd-bottom2p25 {
	padding-bottom: 2.25em !important;
}

.pd-left2p25 {
	padding-left: 2.25em !important;
}

.pd-right2p25 {
	padding-right: 2.25em !important;
}

.pd2p5 {
	padding: 2.5em !important;
}

.pd-top2p5 {
	padding-top: 2.5em !important;
}

.pd-bottom2p5 {
	padding-bottom: 2.5em !important;
}

.pd-left2p5 {
	padding-left: 2.5em !important;
}

.pd-right2p5 {
	padding-right: 2.5em !important;
}

.pd2p75 {
	padding: 2.75em !important;
}

.pd-top2p75 {
	padding-top: 2.75em !important;
}

.pd-bottom2p75 {
	padding-bottom: 2.75em !important;
}

.pd-left2p75 {
	padding-left: 2.75em !important;
}

.pd-right2p75 {
	padding-right: 2.75em !important;
}

.pd3 {
	padding: 3em !important;
}

.pd-top3 {
	padding-top: 3em !important;
}

.pd-bottom3 {
	padding-bottom: 3em !important;
}

.pd-left3 {
	padding-left: 3em !important;
}

.pd-right3 {
	padding-right: 3em !important;
}

.pd3p25 {
	padding: 3.25em !important;
}

.pd-top3p25 {
	padding-top: 3.25em !important;
}

.pd-bottom3p25 {
	padding-bottom: 3.25em !important;
}

.pd-left3p25 {
	padding-left: 3.25em !important;
}

.pd-right3p25 {
	padding-right: 3.25em !important;
}

.pd3p5 {
	padding: 3.5em !important;
}

.pd-top3p5 {
	padding-top: 3.5em !important;
}

.pd-bottom3p5 {
	padding-bottom: 3.5em !important;
}

.pd-left3p5 {
	padding-left: 3.5em !important;
}

.pd-right3p5 {
	padding-right: 3.5em !important;
}

.pd3p75 {
	padding: 3.75em !important;
}

.pd-top3p75 {
	padding-top: 3.75em !important;
}

.pd-bottom3p75 {
	padding-bottom: 3.75em !important;
}

.pd-left3p75 {
	padding-left: 3.75em !important;
}

.pd-right3p75 {
	padding-right: 3.75em !important;
}

.pd4 {
	padding: 4em !important;
}

.pd-top4 {
	padding-top: 4em !important;
}

.pd-bottom4 {
	padding-bottom: 4em !important;
}

.pd-left4 {
	padding-left: 4em !important;
}

.pd-right4 {
	padding-right: 4em !important;
}

.pd4p25 {
	padding: 4.25em !important;
}

.pd-top4p25 {
	padding-top: 4.25em !important;
}

.pd-bottom4p25 {
	padding-bottom: 4.25em !important;
}

.pd-left4p25 {
	padding-left: 4.25em !important;
}

.pd-right4p25 {
	padding-right: 4.25em !important;
}

.pd4p5 {
	padding: 4.5em !important;
}

.pd-top4p5 {
	padding-top: 4.5em !important;
}

.pd-bottom4p5 {
	padding-bottom: 4.5em !important;
}

.pd-left4p5 {
	padding-left: 4.5em !important;
}

.pd-right4p5 {
	padding-right: 4.5em !important;
}

.pd4p75 {
	padding: 4.75em !important;
}

.pd-top4p75 {
	padding-top: 4.75em !important;
}

.pd-bottom4p75 {
	padding-bottom: 4.75em !important;
}

.pd-left4p75 {
	padding-left: 4.75em !important;
}

.pd-right4p75 {
	padding-right: 4.75em !important;
}

.pd5 {
	padding: 5em !important;
}

.pd-top5 {
	padding-top: 5em !important;
}

.pd-bottom5 {
	padding-bottom: 5em !important;
}

.pd-left5 {
	padding-left: 5em !important;
}

.pd-right5 {
	padding-right: 5em !important;
}




.width1 {
	width: 1% !important;
}

.width2 {
	width: 2% !important;
}

.width3 {
	width: 3% !important;
}

.width4 {
	width: 4% !important;
}

.width5 {
	width: 5% !important;
}

.width6 {
	width: 6% !important;
}

.width7 {
	width: 7% !important;
}

.width8 {
	width: 8% !important;
}

.width9 {
	width: 9% !important;
}

.width10 {
	width: 10% !important;
}

.width11 {
	width: 11% !important;
}

.width12 {
	width: 12% !important;
}

.width13 {
	width: 13% !important;
}

.width14 {
	width: 14% !important;
}

.width15 {
	width: 15% !important;
}

.width16 {
	width: 16% !important;
}

.width17 {
	width: 17% !important;
}

.width18 {
	width: 18% !important;
}

.width19 {
	width: 19% !important;
}

.width20 {
	width: 20% !important;
}

.width21 {
	width: 21% !important;
}

.width22 {
	width: 22% !important;
}

.width23 {
	width: 23% !important;
}

.width24 {
	width: 24% !important;
}

.width25 {
	width: 25% !important;
}

.width26 {
	width: 26% !important;
}

.width27 {
	width: 27% !important;
}

.width28 {
	width: 28% !important;
}

.width29 {
	width: 29% !important;
}

.width30 {
	width: 30% !important;
}

.width31 {
	width: 31% !important;
}

.width32 {
	width: 32% !important;
}

.width33 {
	width: 33% !important;
}

.width34 {
	width: 34% !important;
}

.width35 {
	width: 35% !important;
}

.width36 {
	width: 36% !important;
}

.width37 {
	width: 37% !important;
}

.width38 {
	width: 38% !important;
}

.width39 {
	width: 39% !important;
}

.width40 {
	width: 40% !important;
}

.width41 {
	width: 41% !important;
}

.width42 {
	width: 42% !important;
}

.width43 {
	width: 43% !important;
}

.width44 {
	width: 44% !important;
}

.width45 {
	width: 45% !important;
}

.width46 {
	width: 46% !important;
}

.width47 {
	width: 47% !important;
}

.width48 {
	width: 48% !important;
}

.width49 {
	width: 49% !important;
}

.width50 {
	width: 50% !important;
}

.width51 {
	width: 51% !important;
}

.width52 {
	width: 52% !important;
}

.width53 {
	width: 53% !important;
}

.width54 {
	width: 54% !important;
}

.width55 {
	width: 55% !important;
}

.width56 {
	width: 56% !important;
}

.width57 {
	width: 57% !important;
}

.width58 {
	width: 58% !important;
}

.width59 {
	width: 59% !important;
}

.width60 {
	width: 60% !important;
}

.width61 {
	width: 61% !important;
}

.width62 {
	width: 62% !important;
}

.width63 {
	width: 63% !important;
}

.width64 {
	width: 64% !important;
}

.width65 {
	width: 65% !important;
}

.width66 {
	width: 66% !important;
}

.width67 {
	width: 67% !important;
}

.width68 {
	width: 68% !important;
}

.width69 {
	width: 69% !important;
}

.width70 {
	width: 70% !important;
}

.width71 {
	width: 71% !important;
}

.width72 {
	width: 72% !important;
}

.width73 {
	width: 73% !important;
}

.width74 {
	width: 74% !important;
}

.width75 {
	width: 75% !important;
}

.width76 {
	width: 76% !important;
}

.width77 {
	width: 77% !important;
}

.width78 {
	width: 78% !important;
}

.width79 {
	width: 79% !important;
}

.width80 {
	width: 80% !important;
}

.width81 {
	width: 81% !important;
}

.width82 {
	width: 82% !important;
}

.width83 {
	width: 83% !important;
}

.width84 {
	width: 84% !important;
}

.width85 {
	width: 85% !important;
}

.width86 {
	width: 86% !important;
}

.width87 {
	width: 87% !important;
}

.width88 {
	width: 88% !important;
}

.width89 {
	width: 89% !important;
}

.width90 {
	width: 90% !important;
}

.width91 {
	width: 91% !important;
}

.width92 {
	width: 92% !important;
}

.width93 {
	width: 93% !important;
}

.width94 {
	width: 94% !important;
}

.width95 {
	width: 95% !important;
}

.width96 {
	width: 96% !important;
}

.width97 {
	width: 97% !important;
}

.width98 {
	width: 98% !important;
}

.width99 {
	width: 99% !important;
}

.width100 {
	width: 100% !important;
}



.widthem0p5 {
	width: 0.5em !important;
}

.widthem1 {
	width: 1em !important;
}

.widthem1p5 {
	width: 1.5em !important;
}

.widthem2 {
	width: 2em !important;
}

.widthem2p5 {
	width: 2.5em !important;
}

.widthem3 {
	width: 3em !important;
}

.widthem3p5 {
	width: 3.5em !important;
}

.widthem4 {
	width: 4em !important;
}

.widthem4p5 {
	width: 4.5em !important;
}

.widthem5 {
	width: 5em !important;
}

.widthem5p5 {
	width: 5.5em !important;
}

.widthem6 {
	width: 6em !important;
}

.widthem6p5 {
	width: 6.5em !important;
}

.widthem7 {
	width: 7em !important;
}

.widthem7p5 {
	width: 7.5em !important;
}

.widthem8 {
	width: 8em !important;
}

.widthem8p5 {
	width: 8.5em !important;
}

.widthem9 {
	width: 9em !important;
}

.widthem9p5 {
	width: 9.5em !important;
}

.widthem10 {
	width: 10em !important;
}

.widthem10p5 {
	width: 10.5em !important;
}

.widthem11 {
	width: 11em !important;
}

.widthem11p5 {
	width: 11.5em !important;
}

.widthem12 {
	width: 12em !important;
}

.widthem12p5 {
	width: 12.5em !important;
}

.widthem13 {
	width: 13em !important;
}

.widthem13p5 {
	width: 13.5em !important;
}

.widthem14 {
	width: 14em !important;
}

.widthem14p5 {
	width: 14.5em !important;
}

.widthem15 {
	width: 15em !important;
}

.widthem15p5 {
	width: 15.5em !important;
}

.widthem16 {
	width: 16em !important;
}

.widthem16p5 {
	width: 16.5em !important;
}

.widthem17 {
	width: 17em !important;
}

.widthem17p5 {
	width: 17.5em !important;
}

.widthem18 {
	width: 18em !important;
}

.widthem18p5 {
	width: 18.5em !important;
}

.widthem19 {
	width: 19em !important;
}

.widthem19p5 {
	width: 19.5em !important;
}

.widthem20 {
	width: 20em !important;
}


.lh100 {
	line-height: 100% !important;	
}

.lh110 {
	line-height: 110% !important;	
}

.lh120 {
	line-height: 120% !important;	
}

.lh130 {
	line-height: 130% !important;	
}

.lh140 {
	line-height: 140% !important;	
}

.lh150 {
	line-height: 150% !important;	
}

.lh160 {
	line-height: 160% !important;	
}

.lh170 {
	line-height: 170% !important;	
}

.lh180 {
	line-height: 180% !important;	
}

.lh190 {
	line-height: 190% !important;	
}

.lh200 {
	line-height: 200% !important;	
}

.lh210 {
	line-height: 210% !important;	
}

.lh220 {
	line-height: 220% !important;	
}

.lh230 {
	line-height: 230% !important;	
}

.lh240 {
	line-height: 240% !important;	
}

.lh250 {
	line-height: 250% !important;	
}
